{% extends 'lab/base.html' %}

{% block content %}

  {% for article in article_list %}
     <div class="card arti_box">
      <div class="card-body">
        <h1 class="card-title arti_tit">{{ article.title }}</h1>
        <p class="card-subtitle mb-2 text-muted small arti_tag">{{ article.category }}</p>
        <p class="card-text ">
          {{ article.text | truncatechars:100 | striptags }}
        </p>
        <a href="{% url 'lab:detail_article' article.pk %}" class="card-link float-right pr-3 arti_link">続きを読む</a>
      </div>
    </div>
  {% endfor %}
  {% include 'lab/page.html' %}

{% endblock %}